
.jumbotron {
    align-content: center;
    background-color: #336699;
    color: white;
    margin-bottom: 20px;
}

#h1 {
    text-align: center;
}

#h3 {
    text-align: center;
}


p {
    text-align: center;

}

.heading-container {

    margin-left: 40px;
    margin-right: 40px;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #336699;
    color: white;
}

.panel-primary {
    border-color: #336699;
}

.btn-primary {
    background-color: #336699;
    margin-left: 30px;
}

.form-group {
    margin: 30px;
}


